h1 {
    color: blue;
    padding: auto;
}

*{
    text-align: center;
}
body{
    background-color: #f1faee;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    color: blue;
}

label {
    color : blue;
}

#name{
    color: red;
}

#select{
    color: blue;
}

#register{
    background-color: red;
    color: white;
}




