<%- include ("partials/head") %>

<body>
    <%- include ("partials/nav") %>
    <h1>The Home Page <%= "hello world".toUpperCase() %></h1> 
    <!--Lorem20*5-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptates aspernatur adipisci natus, corrupti doloribus consequatur. Officiis quis nesciunt commodi?
    Repellendus similique odio dolor voluptatem aliquam, optio modi sed earum beatae! Tenetur excepturi harum obcaecati accusamus rem distinctio, iste sed?
    Cupiditate alias ratione voluptatibus, odio animi a, maiores minus corporis nesciunt repudiandae suscipit doloremque maxime similique laborum non, tempora libero!
    Incidunt voluptatem quae culpa dolorem, reiciendis ratione possimus perspiciatis totam natus dolores aliquid dolor! Provident, voluptatem iste! Voluptate, est dolorum!
    Ullam facere repellat dignissimos doloremque fuga incidunt quibusdam cum, nemo ex voluptates animi veniam illum dolorem, laboriosam architecto nisi quas?</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti illo praesentium maiores dolor odio suscipit consectetur nesciunt cumque sed.
    Ratione inventore et dignissimos rem neque, iusto perspiciatis laudantium obcaecati sapiente veritatis voluptatum odit nihil, eius, adipisci eveniet quasi vero?</p>
</body>
</html>
